.filters{
    width: 30%;
    border-right: 0.5px solid black;
    margin-top: 15px;
}
.checkbox{
    margin: 0px;
}
.list-item{
    display: flex;
    justify-content: space-between;
    width: 110px;
}
