.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.main-content{
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
}
h2{
    text-align: center;
}