.footer{
    background: #242424;
    display: flex;
    justify-content: center;
    color: #fff;
    height: 95px;
}
.copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
